

.footer-wrap{
    background-color: #00247e;
    color: #ffffff;
    height: 400px;
    padding-top: 80px;
}

.footer-middle{


}

.footer-bottom{
    

}

hr{
    border-top: 1px solid #ffffff;
}

.text-right{
    text-align: right;
}